@page "/RestaurantDetails/{RestaurantId}"

<div class="container-fluid">
    <div class="row">
        <div class="col-12 page-title">
            <h2>@Restaurant.RestaurantName</h2>
        </div>

        <div class="col-4">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="Images/RestaurantImage01.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="Images/RestaurantImage03.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="Images/RestaurantImage05.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    Cuisine: @Restaurant.RestaurantCuisineType
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Phone : @Restaurant.RestaurantPhone</li>
                    <li class="list-group-item">Address : @Restaurant.RestaurantAddress</li>
                    <li class="list-group-item">City: @Restaurant.RestaurantCiy</li>
                    <li class="list-group-item">Website : @Restaurant.RestaurantWebsite</li>
                </ul>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Make Reservation
                </div>
                <ul class="list-group list-group-flush">    
                    <AvailableTablesTimeBrackets RestaurantId="@RestaurantId"/>
                </ul>
            </div>
        </div>
    </div>
</div>