@page "/ConfirmReservation/{RestaurantId}/{TableId}/{DateOfRequest}/{ReservationTime:double}"

<div class="container">
    <div class="row">
        <div class="col-12 page-title">
            <h4>Confirm Reservation</h4>
        </div>


        <EditForm Model="ConfirmReservationVm" OnValidSubmit="MakeReservation">
            <DataAnnotationsValidator/>
            <InputText @bind-value="ConfirmReservationVm.ApplicationUserId" hidden disabled/>

            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <label>Restaurant</label>
                        </div>
                        <div class="col-12">
                            <input type="text" disabled="" value="@Restaurant.RestaurantName"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label>Date</label>
                        </div>
                        <div class="col-12">
                            <input type="text" disabled="" value="@DateOfRequest"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label>Available seats:</label>
                        </div>
                        <div class="col-12">
                            <input type="text" disabled="" value="@Table.AmountOfSeats"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label>Time</label>
                        </div>
                        <div class="col-12">
                            <input type="number" disabled="" value="@ReservationTime"/>
                        </div>
                    </div>
                </div>
                
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <label>First name</label>
                        </div>
                        <div class="col-12">
                            <input @bind-value="@ConfirmReservationVm.FirstName" placeholder="First name" @IsUserLoggedIn/>
                            <ValidationMessage For="() => ConfirmReservationVm.FirstName" style="color: darkred"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label>Last name</label>
                        </div>
                        <div class="col-12">
                            <input type="text" @bind-value="@ConfirmReservationVm.LastName" placeholder="Last name" @IsUserLoggedIn/>
                            <ValidationMessage For="() => ConfirmReservationVm.LastName" style="color: darkred"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label>Phone</label>
                        </div>
                        <div class="col-12">
                            <input type="text" @bind-value="@ConfirmReservationVm.Phone" placeholder="Phone" @IsUserLoggedIn/>
                            <ValidationMessage For="() => ConfirmReservationVm.Phone" style="color: darkred"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label>Email</label>
                        </div>
                        <div class="col-12">
                            <input type="email" @bind-value="@ConfirmReservationVm.Email" placeholder="E-mail" @IsUserLoggedIn/>
                            <ValidationMessage For="() => ConfirmReservationVm.Email" style="color: darkred"/>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            <button type="submit">
                                Proceed to Payment!
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </EditForm>


    </div>
</div>